body{  
    font-family: "Poppins", sans-serif;
}

.orange{
    color: #EE6D21;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 75%;
    padding: 10%
    }
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url();
}
.dream-big{
    background-image: url();
    background: no-repeat;
    background-position: right;
}
.experiance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 40px gray;
}
.ecperiance-area{
    background-image: url();
    background: no-repeat;
    background-position: left;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
footer{
    text-align: center;
}