body{  
    font-family: "Poppins", sans-serif;
}

.orange{
    color: #EE6D21;
}
section{
    display: flex;
}
.half-width{
    width: 75%;
    padding: 10%
    .half-width img{
        width: 10%;

    }
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url();
}